:root {
  --text-color-dark: #435260;
  --text-color-light: #6c7785;

  --background-color-light: #f3f7fb;
  --background-color-dark: #94c4f6;

  --accent-color: #fedf86;
  --sky-blue: #77acf1;
  --yellow: #f9d74b;
  --red: #ff8786;
  --white: #ffff;
  --light-gray: #cfcdd1;
  --error: red;
}
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0;
  background-color: var(--background-color-light);
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 100px;
}

h3,
h2 {
  color: var(--text-color-dark);
  margin-left: 1rem;
}

.text {
  color: var(--text-color-light);
}

.invalid__text {
  color: var(--error);
}

.text.accent {
  font-size: 0.95em;
  font-weight: bold;
  color: var(--sky-blue);
}

.text.small {
  font-size: 0.8em;
}

input[type="submit"] {
  border: none;
}

/* Navigation Bar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-dark);
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid var(--background-color-light);
  z-index: 1;
}

.navbar a {
  color: var(--white);
}

.navbar_logo {
  color: var(--white);
  padding: 0.5rem 2rem;
  font-size: x-large;
}

.navbar_menu {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 10vw;
}

.navbar_menu li a {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
}

.navbar_menu li a.active,
.navbar_menu li a:hover {
  color: var(--accent-color);
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  color: var(--white);
}

/* Home */
.home {
  display: flex;
  background-color: var(--background-color-dark);
  flex-direction: column;
  align-items: center;
}

.home .profile_img {
  width: 120px;
  height: 120px;
  margin: 15vh 0 3vh 0;
}

.home_title {
  justify-content: center;
}

.home_title span {
  margin: 0;
  color: var(--white);
  font-size: 2.5rem;
}

@keyframes cursor {
  50% {
    border-color: white;
  }
}

.typed {
  border-right: 0.05rem solid black;
  animation: cursor 0.5s ease infinite;
}

.link {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-bottom: 8vh;
}

.link a {
  color: var(--white);
  margin: 0 15px;
  font-size: 2rem;
}

.link a:hover {
  color: var(--accent-color);
}

.button {
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--red);
  border-radius: 60px;
  padding: 0.8rem 1.25rem;
  font-size: 16px;
}

.button:hover {
  animation-duration: 0.4s;
  animation-name: popButton;
}

@keyframes popButton {
  50% {
    transform: scale(0.8);
  }
}

.wave_container {
  margin-top: 10vh;
}

.wave_container > svg {
  display: block;
  width: 100vw;
  transform-origin: bottom;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* About Me */
.menu__title {
  margin-left: 10vw;
  color: var(--text-color-dark);
  font-size: 2rem;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0vh 7vw;
}

.about_box {
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--light-gray);
  padding: 3vh 3vw;
  margin-left: 6vw;
}

.about_box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-right-color: var(--white);
  border-left: 0;
  border-top: 0;
  margin-top: -11px;
  margin-left: -22px;
}

.about_left_box {
  padding-right: 5vw;
  word-break: break-all;
}

.about span {
  display: block;
  margin: 0.5rem 1.5rem;
}

.experience span {
  margin-left: 0;
}

.profile_img {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 21vw;
  height: 21vw;
}

.about_left_box {
  border-right: 1px solid var(--light-gray);
}

/* .description {
  display: flex;
  flex-direction: column;
} */

/* .about_sub_description {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--sky-blue);
} */

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 1.5rem;
}

.skills li {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 0.3em 0.3em;
  margin: 0.15rem 0.15rem;
}

/* Project */
.window {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--light-gray);
  margin: 0vh 7vw;
}
.window__header {
  padding: 0.8em 0.8em;
}
.window__header__actions > span {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.window__header__actions > span.red {
  background-color: #ff5f57;
  border: 1px solid #ff473e;
}

.window__header__actions > span.yellow {
  background-color: #f5bd4f;
  border: 1px solid #f4b437;
}

.window__header__actions > span.green {
  background-color: #28c63f;
  border: 1px solid #24b138;
}

.window__content {
  padding: 3vh 3vw;
}

.project__title {
  text-align: center;
}

.project__summary {
  display: block;
  text-align: center;
  margin-bottom: 3vh;
}

.project__content {
  display: flex;
  align-items: center;
}

.project__img {
  border: solid 1px var(--light-gray);
}

.project__link {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-top: 1.5em;
}

.project__link > li {
  list-style: none;
  margin-right: 1em;
}

.project__img {
  width: 100%;
  height: 75%;
}

.project__detail {
  margin-left: 3vw;
}

.project__detail span {
  margin-left: 2em;
}

/* Say Hello */
.sayhello__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vh 7vw;
}

.gform {
  width: 60%;
}


.gform > .name__email__box {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.gform > .name__email__box input,
textarea {
  border: none;
  font-size: 1rem;
}

.gform > .name__email__box input[type="text"],
input[type="email"],
textarea {
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--light-gray);
  padding: 1em 1em;
}

/* .gform > input[type="email"] {
  margin-left: 30%;
} */

.gform > .name__email__box input[type="text"],
input[type="email"] {
  width: 45%;
  height: 7vh;
}

.gform > textarea {
  width: 85%;
  height: 20vh;
  margin: 2em 0;
}

.gform textarea:focus{
  border: 3px solid var(--sky-blue);
}

.gform .name__email__box input[type="text"]:focus,
.name__email__box input[type="email"]:focus{
  border: 3px solid var(--sky-blue);
}

.sayhello__message {
  text-align: center;
}

#mail_emoticon {
  display: block;
  font-size: 8em;
}

#honeypot {
  display: none;
}

/* .thankyou__message {
  display: none;
  padding: 2em 0;
} */

#empty_name {
  display: none;
}

#invalid_email {
  display: none;
}
/* footer */
footer {
  background-color: var(--background-color-dark);
  text-align: center;
  padding: 1rem;
}

footer span{
  color: var(--white);
}
/* footer img {
  width: 400px;
} */

@media screen and (max-width: 768px) {
  /* Navigation Bar */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .navbar_menu li {
    text-align: center;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .navbar_menu.active {
    display: flex;
  }

  /* About Me */
  .about_content {
    flex-direction: column;
    align-items: center;
  }

  .profile_img {
    width: 30vw;
    height: 30vw;
  }

  .about_box {
    margin: 6vh 0 0 0;
  }

  .about_box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-bottom-color: var(--white);
    border-top: 0;
    border-right: 0;
    margin-left: -11px;
    margin-top: -22px;
  }

  /* Project */
  .project__content {
    display: flex;
    flex-direction: column;
  }

  .project__detail {
    margin-left: 0;
  }

  /* Say Hello */
  .sayhello__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }


  .gform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
/* 

  .gform {
    width: 80%;
  } */
}
