:root {
  --text-color-dark: #454360;
  --text-color-light: #767492;

  --background-color-light: #f9f9fe;
  --background-color-dark: #353353;

  --accent-color: #ffd15c;
  --purple: #6c6ce4;
  --yellow: #f9d74b;
  --red: #ff4b60;
  --white: #ffff;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-color-light);
}

a {
  text-decoration: none;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-dark);
  font-weight: bold;
  padding: 1rem;
  border-bottom: 1px solid var(--background-color-light);
}

.navbar a {
  color: var(--white);
}

.navbar_logo {
  color: var(--white);
  padding: 0.5rem 2rem;
  font-size: x-large;
}

.navbar_menu {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 10vw;
}

.navbar_menu li a {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
}

.navbar_menu li a.active,
.navbar_menu li a:hover {
  color: var(--accent-color);
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  color: var(--white);
}

/* Home */
.home {
  display: flex;
  background-color: var(--background-color-dark);
  flex-direction: column;
  align-items: center;
}

.home_title {
  justify-content: center;
  padding-top: 28vh;
}

.home_title span {
  margin: 0;
  color: var(--white);
  font-size: 3rem;
}

@keyframes cursor {
  50% {
    border-color: white;
  }
}

.typed {
  border-right: 0.05rem solid black;
  animation: cursor 0.5s ease infinite;
}

.link {
  display: flex;
  justify-content: center;
  list-style: none;
}

.link a {
  color: var(--white);
  margin-right: 30px;
  font-size: 32px;
}

.link a:hover {
  color: var(--accent-color);
}

.button {
  display: inline-block;
  color: var(--white);
  background-color: var(--red);
  border-radius: 60px;
  padding: 12px 32px;
  margin-top: 10vh;
}

.button:hover {
  animation-duration: 0.4s;
  animation-name: popButton;
}

@keyframes popButton {

  50% {
    transform: scale(0.8);
  }
}

.wave_container {
  margin-top: 10vh;
}

.wave_container > svg {
  display: block;
  width: 100vw;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  /* Navigation Bar */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .navbar_menu li {
    text-align: center;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .navbar_menu.active {
    display: flex;
  }
}
